<mat-card class="custom-card">
    <mat-card-header>
      <div class="card-content">
        @if(card.status) {
        <span class="card-status">
          <mat-icon class="status-icon">info</mat-icon>
          {{card.status}}
        </span>
        }
        @if(card.title) {
        <h3 class="card-title">{{ card.title }}</h3>
        }
        @if(card.description) {
        <p class="card-description">{{ card.description }}</p>
        }
      </div>
      @if(card.showArrow) {
      <i-tabler class="arrow-icon" name="arrow-narrow-right"></i-tabler>
      }
    </mat-card-header>
  </mat-card>
  