.home{
    color: #6c94ff;
    text-decoration: none;
}
.breadcrump-label{
    margin-right: 5px;
    span: {
        color: '#111';
        font-size: 10px;
    }
}
.home-icon {
    width: 20px;
    height: 20px;
}